#files {
  border: 3px dashed black;
  height: 100px;
  width: 640px;
  z-index: 1;
}

#drop {
  color: grey;
  font-size: 22pt;
  list-style-type: none;
  pointer-events: none;
  text-align: center;
  z-index: -1;
}

#url {
  display: none;
}

.pdf_thumbnail {
  border: 1px dotted black;
  float: left;
  height: 80px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80px;
  position: relative;
}

#loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

li i.fa-minus-square, li i.fa-repeat, li i.fa-undo {
  position: absolute;
  top: 0;
}

li i.fa-minus-square {
  right: 0
}

li i.fa-repeat {
  left: 20px;
}

li i.fa-undo {
  left: 0;
}

#hidden-uploader {
  display: none;
}

.centered {
  margin: 0 auto;
  width: 0px;
}

.thumbnail {
  width: 50px;
}

#completion {
  position: relative;
}

#progress-label {
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 50%;
}
