h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive;
}

h1 {
  font-size: 40pt;
}

body {
  font-family: 'Roboto', serif;
}

#files {
  border: 2px dotted #aaa;
  position: relative;
}

#drop {
  color: grey;
  font-size: 22pt;
  pointer-events: none;
  text-align: center;
  list-style-type: none;
  z-index: -1;
}

.pdf_thumbnail {
  border: 1px dotted black;
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

#upload-button {
  border: none;
  border-radius: 4px;
  background-color: #FF5722;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 12pt;
  font-weight: bold;
  margin: 20px auto 0;
  padding: 20px;
  width: 30%
}

#sortable {
  list-style-type: none;
}

li i.fa-minus-square, li i.fa-repeat, li i.fa-undo {
  position: absolute;
  top: 0;
}

li i.fa-minus-square {
  right: 0
}

li i.fa-repeat {
  left: 20px;
}

li i.fa-undo {
  left: 0;
}

#hidden-uploader {
  display: none;
}

.centered {
  margin: 0 auto;
  width: 0px;
}

#completion {
  position: relative;
}

#progress-label {
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 50%;
}

#url {
  bottom: 10px;
  left: 50%;
  margin-bottom: -100px;
  position: fixed;
  width: 70px;
}

#url img {
  width: 100%;
}

.loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
}


#loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}

@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}

.fa {
  cursor: pointer;
}
