<!DOCTYPE html>
{% from tornado.options import options %}
<html>
  <head>
    <title>PDFTool</title>
    <meta charset="utf-8">

    <link href="{{ static_url('css/pdftool.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body {% if options.debug %}data-debug="true"{% end %}>
    <h1>PDFTool</h1>
    <main>
      {% block main %}{% end %}
    </main>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script src="{% if options.debug%}{{ static_url('js/pdftool.js') }}{% else %}{{ static_url('js/pdftool.min.js') }}{% end %}"></script>
  </body>
</html>
