{% extends _layout.html %}

{% block main %}

<input type="file" name="files" id="hidden-uploader" multiple="multiple"/>
<div id="files">
  <ul id="sortable">
    <li id="drop">Drop your files here</li>
  </ul>
</div>

<img id="loading" src="{{ static_url('images/ajax-loader.gif') }}" alt="loading"/>

<a id="url" href="#">Download the result !</a>
<input type="button" value="Work the magic !"  id="upload-button" data-url="{{ reverse_url('Merge') }}" data-preview-url="{{ reverse_url('Preview') }}"/>

<div id="completion"><div id="progress-label"></div></div>

{% end %}
