{% extends _layout.html %}

{% block main %}

<input type="file" name="files" id="hidden-uploader" multiple="multiple"/>

<div id="files">
  <ul id="sortable">
    <li id="drop">Drop your files here</li>
  </ul>
</div>

<div class="loading">
  <svg class="circular">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>

<a id="url" href="#">
  <img src="{{ static_url('images/download.png') }}" alt="download" />
</a>

<input type="button" value="Work the magic !"  id="upload-button" data-url="{{ reverse_url('Merge') }}" data-preview-url="{{ reverse_url('Preview') }}"/>

<div id="completion">
  <div id="progress-label"></div>
</div>

{% end %}
